@tailwind base;
@tailwind components;
@tailwind utilities;
.responsive {
  @apply mx-[1.5rem] md:mx-[3rem] lg:mx-[12rem];
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body{
  background-color: #E9FAE5;
  color: #061103;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}